/* Admin Page styling */
.admin__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin__sidebar{
  background-color: cadetblue;
  flex: 1;
  padding: 1rem;

}

.admin__main-content{
  background-color: darkgray;
  flex: 2;
  padding: 1rem;
}

/* User sidebar */
.user__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__sidebar{
  background-color: cadetblue;
  flex: 1;
  padding: 1rem;

}

.user__main-content{
  background-color: darkgray;
  flex: 2;
  padding: 1rem;
}
/* list product */
.products{
  display: grid;
  grid-template-columns: auto auto auto;
}